<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Aksam assurance
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('assets/css/app.css') }}"> {% block stylesheets %}{% endblock %}
        <link rel="icon" href="{{ asset('assets/favicon.png') }}">
		</head>
		<body>
			<header class="topbar">
				<div class="container topbar__inner">
					<a href="{{ path('homepage') }}" class="brand">
						<img src="{{ asset('assets/logo.png') }}" alt="Aksam assurance">
					</a>
					<nav>
						<a href="{{ path('quote_new') }}">Nouveau devis</a>

					</nav>
				</div>
			</header>

			<main class="container page-content">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert--{{ label }}">{{ message }}</div>
					{% endfor %}
				{% endfor %}

				{% block body %}{% endblock %}
			</main>

			<script src="{{ asset('assets/js/quote-wizard.js') }}"></script>
			{% block javascripts %}{% endblock %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
		</body>
	</html>
